@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffafa;
}

textarea {
  resize: none;
}

textarea::placeholder,
input::placeholder {
  font-size: 18px;
  color: black;
}

h1 {
  font-size: 28px;
  font-weight: normal;
}

p {
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.link:hover {
  color: #87ba9f;
  cursor: pointer;
}

.title-container {
  text-align: center;
}

.title {
  font-family: 'Abril Fatface';
}

.title-2 {
  font-family: 'Montserrat', sans-serif;
}

.card {
  background: #fff;
}

.section-card {
  background: #fff;
  width: 100%;
  border-radius: 25px;
  padding: 50px;
}

.card,
.section-card {
  box-shadow: 0 10px 15px -3px rgb(181, 107, 107, 0.15);
}

.section-contained {
  max-width: 1000px;
  margin: 25px auto;
  box-sizing: border-box;
}

.info-div {
  font-size: 18px;
  text-align: center;
  justify-content: center;
  margin: 50px 0;
}

.about-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.project-img {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
}

.project-card-container {
  padding-bottom: 15px;
  border-radius: 15px;
  overflow: hidden;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.project-cards-container {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  justify-content: center;
}

.project-card-container a {
  text-decoration: none;
  text-align: center;
  color: black;
}

.contact-form {
  text-align: left;
}

.contact-form-inputs {
  border: solid rgb(181, 107, 107, 0.15);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  text-align: start;
  margin: 10px 0;
  padding: 15px 20px;
  border-radius: 7px;
  font-family: 'Montserrat', sans-serif;
}

.send-button {
  background-color: #F5BD8D;
  border: none;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  padding: 10px 16px;
  border-radius: 8px;
  display: inline-block;
  line-height: 1.3em;
}

.send-button:hover {
  cursor: pointer;
}